{% extends "lay.html" %}
{% load static %}
{% block content %}
    <main class="main">
      <!-- Page Title -->
      <div
        class="page-title dark-background"
        data-aos="fade"
        style="background-image: url(./assets/img/about.jpg)"
      >
        <div class="container position-relative">
          <h1>About Us</h1>
          <p>
            "Quality is never an accident. It is always the result of
            intelligent effort."
          </p>
          <nav class="breadcrumbs">
            <ol>
              <li><a href="index.html">Home</a></li>
              <li class="current">About</li>
            </ol>
          </nav>
        </div>
      </div>
      <!-- End Page Title -->

      <!-- Team Section -->
      <section class="team-15 team section" id="team">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Team</h2>
          <p style="font-size: 16px">
            LANS Hospital is a tertiary care hospital and the leading
            contributor of private healthcare services in Bangladesh. This has
            been achieved only through consistent commitment to improve the
            lives of people through utmost service excellence since its
            inception on 16th December, 2023.
          </p>
        </div>
        <!-- End Section Title -->

        <div class="content">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-6 mb-4">
                <div class="person">
                  <figure>
                    <img
                      src="assets/img/team/lalon.jpg"
                      alt="Image"
                      class="img-fluid pp-image"
                    />
                    <div class="social">
                      <a href="https://www.facebook.com/profile.php?id=100010274190175&mibextid=ZbWKwL"><span class="bi bi-facebook"></span></a>
                      <a href="#"><span class="bi bi-twitter-x"></span></a>
                      <a href="#"><span class="bi bi-linkedin"></span></a>
                    </div>
                  </figure>
                  <div class="person-contents">
                    <h3>Ruhul Amin Lalan</h3>
                    <span class="position">Founder & CSE</span>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 mb-4">
                <div class="person">
                  <figure>
                    <img
                      src="assets/img/team/nazia.jpg"
                      alt="Image"
                      class="img-fluid pp-image"
                    />
                    <div class="social">
                      <a href="https://www.facebook.com/profile.php?id=100006262818153&mibextid=ZbWKwL"><span class="bi bi-facebook"></span></a>
                      <a href="#"><span class="bi bi-twitter-x"></span></a>
                      <a href="#"><span class="bi bi-linkedin"></span></a>
                    </div>
                  </figure>
                  <div class="person-contents">
                    <h3>Nazia Tabassum
                    </h3>
                    <span class="position">Co-founder</span>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 mb-4">
                <div class="person">
                  <figure>
                    <img
                      src="assets/img/team/antor.jpg"
                      alt="Image"
                      class="img-fluid pp-image"
                    />
                    <div class="social">
                      <a href="#"><span class="bi bi-facebook"></span></a>
                      <a href="#"><span class="bi bi-twitter-x"></span></a>
                      <a href="#"><span class="bi bi-linkedin"></span></a>
                    </div>
                  </figure>
                  <div class="person-contents">
                    <h3> MD. Antar</h3>
                    <span class="position">Precident</span>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 mb-4">
                <div class="person">
                  <figure>
                    <img
                      src="assets/img/team/sumaiya.png"
                      alt="Image"
                      class="img-fluid pp-image"
                    />
                    <div class="social">
                      <a href="https://www.facebook.com/vhorer.pakhe.96?mibextid=ZbWKwL"><span class="bi bi-facebook"></span></a>
                      <a href="#"><span class="bi bi-twitter-x"></span></a>
                      <a href="#"><span class="bi bi-linkedin"></span></a>
                    </div>
                  </figure>
                  <div class="person-contents">
                    <h3>Sumiya Akter
                    </h3>
                    <span class="position">Vice-Precident</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /Team Section -->

      <!-- Call To Action Section -->
      <section
        id="call-to-action"
        class="call-to-action section light-background"
      >
        <div class="content">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div data-aos="fade-right">
                  <h3>Book an Appointment</h3>
                  <p class="opacity-50">
                    Contact on our care line number to book an appointment.
                  </p>
                </div>
              </div>
              <div class="col-lg-6">
                <div data-aos="fade-left">
                  <h1 style="text-align: center" class="careline">
                    <a style="padding-right: 15px" href="#"
                      ><i class="bi bi-telephone-fill"></i></a
                    >Care Line : +880 13030 15394
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /Call To Action Section -->
    </main>
{% endblock %}