{% extends "lay.html" %}
{% load static %}
{% block content %}
    <main class="main">
      <!-- Page Title -->
      <div
        class="page-title dark-background"
        data-aos="fade"
        style="
          background-image: url(https://www.ondal.com/fileadmin/user_upload/inhalte_und_bilder/applikationen/icu/MicrosoftTeams-image__5_.png);
        "
      >
        <div class="container position-relative">
          <h1>ABOUT OF THE ANESTHESIA</h1>
          <p>
            "Quality is never an accident. It is always the result of
            intelligent effort."
          </p>
          <nav class="breadcrumbs">
            <ol>
              <li><a href="/app/home">Home</a></li>
              <li class="current">Anesthesia</li>
            </ol>
          </nav>
        </div>
      </div>
      <!-- End Page Title -->

      <section class="complete-content-anesthesia">
        <div class="container-top">
          <p>
            The Department of Anesthesiology of LANS Unit Exchange Hospital provides a
            range of anesthetic, preoperative and pain management services to
            patients of all ages. There are also several centers under the
            Department of Anesthesiology which includes the Pain Management
            Centre and the Hyperbaric & Diving Medicine Centre.
          </p>
          <h2>CLINICAL ANAESTHESIA:</h2>
          <ul>
            <li>
              Anesthetic care in the operating theatres for all types of
              surgical, diagnostic and therapeutic procedures.
            </li>
            <li>
              Sedation and Anesthesia in angiography, endoscopy and radiology
              suites as required.
            </li>
            <li>
              Anesthesia and sedation in the Specialty Centers in the Outram
              Campus, including National Dental Centre, Singapore National Eye
              Centre and National Cancer Centre.
            </li>
          </ul>
          <h2>SURGICAL INTENSIVE CARE UNIT:</h2>
          <ul>
            <li>
              24 hour specialist intensive care coverage in the surgical
              intensive care unit, neurosurgical intensive care unit and burns
              intensive care unit.
            </li>
          </ul>
          <h2>PAIN MANAGEMENT UNIT INCLUSIVE OF:</h2>
          <ul>
            <li>
              Acute Pain Service Providing pre- and post-operative pain
              management procedures like epidural opioids, patient controlled
              analgesia and regional nerve blocks.
            </li>
          </ul>
          <h2>PAIN CLINIC:</h2>
          <ul>
            <li>Providing inpatient and outpatient chronic pain management.</li>
          </ul>
          <h2>FACILITIES AVAILABLE:</h2>
          <ul>
            <li>Anesthetic machines.</li>
            <li>Anesthetic gas monitor is available in every theatre.</li>
            <li>Patient monitors.</li>
          </ul>
        </div>
        <div class="container-buttom">
          <div data-aos="fade-down-right">
            <img
              src="./assets/img/disease/Anesthesiology1.jpg"
              alt=""
            />
          </div>
          <div data-aos="fade-down-left">
            <img
              src="./assets/img/disease/anesthesia2.jpg"
              alt=""
            />
          </div>
        </div>
      </section>

      <!-- Call To Action Section -->
      <section
        id="call-to-action"
        class="call-to-action section light-background"
      >
        <div class="content">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div data-aos="fade-right">
                  <h3>Book an Appointment</h3>
                  <p class="opacity-50">
                    Contact on our care line number to book an appointment.
                  </p>
                </div>
              </div>
              <div class="col-lg-6">
                <div data-aos="fade-left">
                  <h1 style="text-align: center" class="careline">
                    <a style="padding-right: 15px" href="#"
                      ><i class="bi bi-telephone-fill"></i></a
                    >Care Line : +880 13030 15394
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /Call To Action Section -->
    </main>
{% endblock %}

{% block title %}
Anesthesia - LANS unity exchange hospital
{% endblock %}