{% extends "lay.html" %}
{% load static %}
{% block content %}
    <main class="main">
      <!-- Page Title -->
      <div
        class="page-title dark-background"
        data-aos="fade"
        style="
          background-image: url(https://www.shutterstock.com/image-photo/closeup-black-woman-donating-blood-600nw-2159253005.jpg);
        "
      >
        <div class="container position-relative">
          <div data-aos="fade-down">
            <h1>BLOOD BANK</h1>
          </div>
          <div data-aos="fade-up">
            <p>
              "Quality is never an accident. It is always the result of
              intelligent effort."
            </p>
          </div>
          <nav class="breadcrumbs">
            <ol>
              <li><a href="/app/home">Home</a></li>
              <li class="current">blood bank</li>
            </ol>
          </nav>
        </div>
      </div>
      <!-- End Page Title -->

      <section class="blood-content">
        <div class="blood-content-top">
          <p>
            BRB Hospitals Limited has International Standard Completed Blood
            Transfusion Blood Bank.
          </p>

          <p>
            Blood Bank of BRB Hospitals Limited is a Government licensed Blood
            Bank established in 2014. Located in the Hospital Premises, it aims
            to provide patients with the safest possible blood, equivalent to
            any International Standard.
          </p>

          <p>
            All donations received in the blood bank are voluntary
            non-remunerated. All necessary safety measures are taken for both
            the donors and the recipients including performing the mandatory
            screening tests for infectious diseases.
          </p>

          <p>
            This blood bank is enriched with one Consultant, one Specialist,
            four Senior House Officers, and thirteen Medical Lab Technologists.
          </p>
        </div>
        <div class="blood-content-mid">
          <p>
            The following blood components are available in this blood bank:
          </p>
          <ul>
            <li>Whole Blood.</li>
            <li>Packed Red Blood Cell (PRBC).</li>
            <li>Fresh Frozen Plasma (FFP).</li>
            <li>Platelet Concentrate.</li>
            <li>Fresh Platelet Rich Plasma.</li>
            <li>Platelet Apheresis.</li>
            <li>Cryoprecipitate (15ml).</li>
            <li>Cryo poor Plasma (180ml).</li>
            <li>Autologous Platelet Rich Plasma.</li>
          </ul>
        </div>

        <div class="blood-content-bottom">
          <p>
            Committed to deliver high quality and safe blood products, our blood
            banking and transfusion services are available 24/7.
          </p>
          <p>
            For any emergency requirement of blood or information to donate
            blood,
          </p>
          <p>Please contact BRB Hospitals Limited Blood Bank: 10647</p>
        </div>
      </section>

      <!-- Call To Action Section -->
      <section
        id="call-to-action"
        class="call-to-action section light-background"
      >
        <div class="content">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div data-aos="fade-right">
                  <h3>Book an Appointment</h3>
                  <p class="opacity-50">
                    Contact on our care line number to book an appointment.
                  </p>
                </div>
              </div>
              <div class="col-lg-6">
                <div data-aos="fade-left">
                  <h1 style="text-align: center" class="careline">
                    <a style="padding-right: 15px" href="#"
                      ><i class="bi bi-telephone-fill"></i></a
                    >Care Line : +880 13030 15394
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /Call To Action Section -->
    </main>

 {% endblock %}

{% block title %}
Blood Bank - LANS unity exchange hospital
{% endblock %}