{% extends "lay.html" %}
{% load static %}
{% block content %}
    <main class="main">
      <!-- Page Title -->
      <div
        class="page-title dark-background"
        data-aos="fade"
        style="
          background-image: url(https://www.bookdialysis.com/storage/1456/conversions/baraka-dialysis-polyclinic-centre-DVreQ-1-open-graph.jpg);
        "
      >
        <div class="container position-relative">
          <h1>Dialysis Centre</h1>
          <p>
            "Quality is never an accident. It is always the result of
            intelligent effort."
          </p>
          <nav class="breadcrumbs">
            <ol>
              <li><a href="/app/home">Home</a></li>
              <li><a href="current">dialysis_cantre</a></li>
            </ol>
          </nav>
        </div>
      </div>
      <!-- End Page Title -->

      <section class="complete-content">
        <div class="dialysis">
          <p>
            According to the Global Burden of Disease study, non-communicable
            diseases (NCDs) are responsible for the deaths of 38 million people
            in 2013. 82% of people with non-communicable diseases live in poor
            and middle-income countries (LMICs).
          </p>
          <p>
            It is estimated that by 2030, the total burden of non-communicable
            diseases (NCDs) will overcome the burden of combined death of
            infectious diseases, maternal, perinatal, and nutritional disorders.
            The average life expectancy of people is increasing, with the burden
            of diseases of NCDs. In most cases it is seen that a person is
            suffering from more than one non-communicable disease. In addition
            to the mentioned burden, NCDs are a significant financial burden.
          </p>
          <p>
            In developing countries like Bangladesh, common NCDs are Heart
            diseases, Diabetes, Hypertension, Chronic Kidney Disease, Cancer and
            Chronic respiratory disease (COPD). Due to the increase in the
            incidence of these diseases, it is becoming more burdens in the
            future. This rapid increase in non-communicable diseases is puting
            intense pressure on the health system of the underdeveloped country
            and poverty is rising in the family.
          </p>
          <p>
            Accrding to International Society of Nephrology, there are 10 to 15
            million chronic kidney disease (CKD) patients in Bangladesh. This is
            a major public health problem
          </p>
          <p>
            According to Global Burden of Disease Study 2015 position of death
            due to kidney diseases is 12th, which has increased by 31.7% in the
            last ten years, which in turn increases the condition of all kidney
            diseases among the third.
          </p>
          <p>
            Factors like Hypertension, Diabetes, physical inactivity, junk food,
            food adalteration and change in food habit, smoking, rapid
            urbanization increasing the burden of disease due to chronic kidney
            disease. Between 2005 and 2015, diabetic kidney disease has
            increased almost 40%. According World Health Organization, chronic
            kidney diseases is increasing due to lack of proper management and
            early diagnosis of hypertension and diabetes.
          </p>
          <p>
            The kidneys are vital organs in human bodies, removing waste and
            excess water and controlling the acidity balance of our blood.
            Chronic kidney disease (CKD) is the gradual loss of the kidneys’
            abilities to perform these essential functions, and can be caused by
            high blood pressure, diabetes, obesity, smoking, Sedentary lifestyle
            and certain over and inappropriate use of Medicine and other risk
            factors. One in three people in the general population is at
            increased risk of CKD.
          </p>
          <p>
            Although an estimated 10% of people worldwide have CKD, estimates
            suggest 9 in 10 of those are unaware of their condition. A large
            number of people do not know that they are suffering from high blood
            pressure and diabetes. These people are not going to the doctor in
            time due to ignorance and absence of symptoms. And even sometime if
            they visit doctors, doctors gave them very little time and patient
            doesn’t have the time to understand the problem. Doctors do
            unnecessary investigation and prescribe more drugs. Inappropriate
            use of antibiotics is also increasing.
          </p>
          <p>
            Many people suffering from hypertension and diabetes can not afford
            or take regular treatment. Because, people have to take medicine for
            a long time till death, the treatment (Consultation fee,
            Investigation, purchase of medicines etc.) is expensive.
          </p>
          <p>
            If left untreated, CKD is a major risk factor for kidney failure and
            subsequent cardiovascular disease and death, and even for patients
            who don’t die, they can progress to end-stage kidney disease –
            meaning dialysis or transplantation in richer nations, or an early
            death in those countries that don’t provide ready access to these
            services. Worldwide, an estimated 1 million people die each year
            from untreated kidney failure. Furthermore, such are the dangers of
            CKD that those with the condition are up to 20 times more likely to
            die of other causes (largely cardiovascular diseases such as heart
            attack or stroke) before they ever reach the point of dialysis or
            transplant care.
          </p>
          <p>
            <b
              >Note : This site is still under development phase, please excuse
              any mis-information.</b
            >
          </p>
        </div>
        <div class="dia_image" data-aos="fade-right">
          <img
            src="https://e1.pxfuel.com/desktop-wallpaper/916/700/desktop-wallpaper-information-technology-backgrounds-technology.jpg"
            alt="image"
          />
        </div>
      </section>

      <!-- Call To Action Section -->
      <section
        id="call-to-action"
        class="call-to-action section light-background"
      >
        <div class="content">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div data-aos="fade-right">
                  <h3>Book an Appointment</h3>
                  <p class="opacity-50">
                    Contact on our care line number to book an appointment.
                  </p>
                </div>
              </div>
              <div class="col-lg-6">
                <div data-aos="fade-left">
                  <h1 style="text-align: center" class="careline">
                    <a style="padding-right: 15px" href="#"
                      ><i class="bi bi-telephone-fill"></i></a
                    >Care Line : +880 13030 15394
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /Call To Action Section -->
    </main>
{% endblock %}

{% block title %}
Dialysis Center - LANS unity exchange hospital
{% endblock %}