{% extends "lay.html" %}
{% load static %}
{% block content %}
    <main class="main">
      <!-- Page Title -->
      <div
        class="page-title dark-background"
        data-aos="fade"
        style="background-image: url(https://www.grantthornton.in/globalassets/1.-member-firms/india/new-homepage/media/1.-hero-banners_repeat-visits/1440x600px_hero_banner_shutterstock_1124727410.jpg)"
      >
        <div class="container position-relative">
          <h1 data-aos="fade-down">Emergency Services</h1>
          <p data-aos="fade-up">
            "Quality is never an accident. It is always the result of
            intelligent effort."
          </p>
          <nav class="breadcrumbs">
            <ol>
              <li><a href="/app/home">Home</a></li>
              <li><a href="current">Emergency Service</a></li>
            </ol>
          </nav>
        </div>
      </div>
      <!-- End Page Title -->

      <section class="complete-content">
        <div class="emergency">
            <p class="em_header">
                Accident & Emergency
            </p>
            <p>
                The accident and emergency department (A&E) at BRB Hospitals provides immediate medical attention to critical and life-threatening emergencies, as well as treatment to patients with urgent medical problems.
            </p>
            <p>
                <b>The average wait time at our A&E is 30 minutes.</b>
            </p>
            <p>Our medical specialists are well-trained to respond to emergencies efficiently and effectively, 24 hours a day, 365 days a year.</p>
            <p>
                <p class="em_header">Our Services:</p>
                <ul>
                    <li>24 hour services to all types of emergency patients.</li>
                    <li>Mini Operation Theater with Ventilation Machine for Life Support if needed.</li>
                    <li>All time availability of Consultant & Specialist doctors.</li>
                    <li>Any minor surgery can be done in the Emergency Operation Theater.</li>
                    <li>5-6 well trained Nurses in each shift.</li>
                    <li>Facility of direct shifting of multiple trauma patients to Trauma Operation Theater via Lift situated within Emergency.</li>
                    <li>Round the clock Ambulance Services:</li>
                    <li><b>Air Ambulance:</b> Air Ambulance <b>Facilities  anywhere of Bangladesh </b></li>
                </ul>
            </p>
            <p><p class="em_header">Ambulance</p> - accompanied by Critical Care Specialist, Nurse and PCA. </p>

        </div>
        <div class="emer_image" data-aos="fade-right">
            <img src="https://w0.peakpx.com/wallpaper/644/973/HD-wallpaper-singapore-central-emergency-ambulance-emergency-singapore-ambulance-central-thumbnail.jpg" alt="image"></div>
        
      </section>

      <!-- Call To Action Section -->
      <section
        id="call-to-action"
        class="call-to-action section light-background"
      >
        <div class="content">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6">
                
                <div data-aos="fade-right">
                  <h3>Book an Appointment</h3>
                  <p class="opacity-50">
                    Contact on our care line number to book an appointment.
                  </p>
                </div>
              </div>
              <div class="col-lg-6">
                <div data-aos="fade-left">
                  <h1 style="text-align: center" class="careline">
                    <a style="padding-right: 15px" href="#"
                      ><i class="bi bi-telephone-fill"></i></a
                    >Care Line : +880 13030 15394
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /Call To Action Section -->
    </main>

{% endblock %}

{% block title %}
Emergency Services - LANS unity exchange hospital
{% endblock %}