{% extends "lay.html"%}

{% block content %}

    <main class="main">
      <div
        class="page-title dark-background"
        data-aos="fade"
        style="background-image: url(/static/assets/img/equipment.webp)"
      >
        <div class="container position-relative">
          <h1>Equipment’s</h1>
          <p>
            "It matters little how much equipment we use; it matters much that
            we be masters of all we do use."
          </p>
          <nav class="breadcrumbs">
            <ol>
              <li><a href="/app/home">Home</a></li>
              <li><a href="current">Equipment</a></li>
            </ol>
          </nav>
        </div>
      </div>

      <!-- Services Section -->
      <section class="complete-content">
        <div class="container">
          <div class="row">
            <h2 class="text-center" style="font-weight: 900">Let’s see</h2>
          </div>

          <div class="row">
            <div class="container">
              <div class="row">
                <!-- new style -->
                <div class="row">
                  <!--col start-->
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-item single-item1">
                      <div class="fig_caption">
                        <ul>
                          <li>Inverted Microscope</li>
                          <li>Microbiological Incubator</li>
                          <li>RI-Micromanipulator</li>
                          <li>OT Light</li>
                          <li>OT Table</li>
                          <li>Warming Incubator oven with 3 doors</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!--col end-->
                  <!--col start-->
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-item single-item1">
                      <div class="fig_caption">
                        <ul>
                          <li>Warming Incubator oven with 3 doors</li>
                          <li>Vedio Colonoscope</li>
                          <li>Endoscope reprocessor</li>
                          <li>Argon Diathermy</li>
                          <li>Anesthesia With ventilator</li>
                          <li>Lithotriptor</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!--col end-->
                  <!--col start-->
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-item single-item1">
                      <div class="fig_caption">
                        <ul>
                          <li>Baby Incubator</li>
                          <li>Baby Warmer</li>
                          <li>Phototherapy Unit</li>
                          <li>Patient Monitor</li>
                          <li>Syringe &amp; Infusion pump</li>
                          <li>Blood Gas Analyzer</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!--col end-->
                  <!--col start-->
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-item single-item1">
                      <div class="fig_caption">
                        <ul>
                          <li>ECG Machine</li>
                          <li>Echo Machine</li>
                          <li>Mobile X-Ray</li>
                          <li>Patient Monitor</li>
                          <li>Defibrillator Machine</li>
                          <li>Syringe &amp; Infusion Pump</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!--col end-->
                  <!--col start-->
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-item single-item1">
                      <div class="fig_caption">
                        <ul>
                          <li>ETT Machine with Treadmill</li>
                          <li>Echo Machine</li>
                          <li>ECG Machine</li>
                          <li>Holter Recorder</li>
                          <li>ABPM System</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!--col end-->
                  <!--col start-->
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-item single-item1">
                      <div class="fig_caption">
                        <ul>
                          <li>Angiogram Machine</li>
                          <li>Blood Oxymetry Machine</li>
                          <li>Defibrillator Machine</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!--col end-->
                  <!--col start-->
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-item single-item1">
                      <div class="fig_caption">
                        <ul>
                          <li>4D Ultrasound Machine</li>
                          <li>BMD machine</li>
                          <li>X- ray machine</li>
                          <li>MRI Machine 1.5T</li>
                          <li>MRI Machine 3T</li>
                          <li>OPG Machine</li>
                          <li>Digital Mammography</li>
                          <li>CT Scan Machine VCT-500</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!--col end-->
                  <!--col start-->
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-item single-item1">
                      <div class="fig_caption">
                        <ul>
                          <li>EEG Machine - 9200K</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!--col end-->
                  <!--col start-->
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-item single-item1">
                      <div class="fig_caption">
                        <ul>
                          <li>ABG Machine</li>
                          <li>Patient Monitor</li>
                          <li>Syringe &amp; Infusion Pump</li>
                          <li>Patient Ventilator</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!--col end-->
                  <!--col start-->
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-item single-item1">
                      <div class="fig_caption">
                        <ul>
                          <li>Anesthesia Machine</li>
                          <li>C-arm Machine</li>
                          <li>Diathermy Machine</li>
                          <li>Arthro Pump &amp; Arthroscope</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!--col end-->
                  <!--col start-->
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-item single-item1">
                      <div class="fig_caption">
                        <ul>
                          <li>Anesthesia Machine</li>
                          <li>Diathermy Machine</li>
                          <li>Microscope,S88(OPMIvario)</li>
                          <li>Pneumatic Drill Machine</li>
                          <li>OT Light</li>
                          <li>OT Table, Amsco 3085 SP</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!--col end-->
                  <!--col start-->
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-item single-item1">
                      <div class="fig_caption">
                        <ul>
                          <li>PFT Machine</li>
                          <li>CPAP/BiPAP</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!--col end-->
                  <!--col start-->
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-item single-item1">
                      <div class="fig_caption">
                        <ul>
                          <li>Sleep Lab, Alice 6 LDx</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!--col end-->
                  <!--col start-->
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-item single-item1">
                      <div class="fig_caption">
                        <ul>
                          <li>Radiotherapy Machine( Linac)</li>
                          <li>Brachy therapy Machine</li>
                          <li>CT Simulator</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!--col end-->
                  <!--col start-->
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-item single-item1">
                      <div class="fig_caption">
                        <ul>
                          <li>Dialysis Machine</li>
                          <li>CRRT Machine</li>
                          <li>Defibrillator Machine</li>
                          <li>ECG Machine</li>
                          <li>Electronic weight machine</li>
                          <li>Syringe &amp; Infusion Pump</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!--col end-->
                  <!--col start-->
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-item single-item1">
                      <div class="fig_caption">
                        <ul>
                          <li>Laparoscopy System</li>
                          <li>Co2 Laser system</li>
                          <li>Anesthesia Machine with Ventilator</li>
                          <li>Holmium Laser</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!--col end-->
                </div>
                <!-- new style -->
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Call To Action Section -->
      <section
        id="call-to-action"
        class="call-to-action section light-background"
      >
        <div class="content">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div data-aos="fade-right">
                  <h3>Book an Appointment</h3>
                  <p class="opacity-50">
                    Contact on our care line number to book an appointment.
                  </p>
                </div>
              </div>
              <div class="col-lg-6">
                <div data-aos="fade-left">
                  <h1 style="text-align: center" class="careline">
                    <a style="padding-right: 15px" href="#"
                      ><i class="bi bi-telephone-fill"></i></a
                    >Care Line : +880 13030 15394
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /Call To Action Section -->
    </main>

{% endblock %}

{% block title %}
Equipment - LANS unity exchange hospital
{% endblock %}