{% extends "lay.html" %}
{% load static %}
{% block content %}

    <main class="main" >
      <!-- Page Title -->
      <div
        class="page-title dark-background"
        data-aos="fade"
        style="
          background-image: url(./assets/img/doctor_cover.jpg);
        "
      >
        <div class="container position-relative">
          <h1>Find Doctors</h1>
          <p>
            "Quality is never an accident. It is always the result of
            intelligent effort."
          </p>
          <nav class="breadcrumbs">
            <ol>
              <li><a href="index.html">Home</a></li>
              <li><a href="current">Search Doctor</a></li>
            </ol>
          </nav>
        </div>
      </div>
      <!-- End Page Title -->

      <div class="container-doctor">
        <input
          id="searchbar"
          onkeyup="search_doctor()"
          type="text"
          name="search"
          placeholder="Search Doctor..."
        />
        <ul id="list">
          <div class="row gy-4">
            <div class="col-lg-4">
              <li class="doctor">
                <div class="col-lg-4">
                  <div class="card">
                    <div class="image_container-doctor">
                      <img
                        class="image"
                        src="{% static './assets/img/doctors/d1.png' %}"
                        alt=""
                      />
                    </div>
                    <div class="title">
                      <span class="doctor">Dr. Hippocrates</span>
                    </div>
                    <div class="size">
                      <div class="speciality">
                        <h3>Speciality -</h3>
                        <p>Consultant, Dermatology</p>
                      </div>
                      <div class="degree">
                        <h3>Degree-</h3>
                        <p>
                          MBBS, DDV (SINGAPORE), MSc In Clinical Dermatology
                          (London), MSSVD (London)
                        </p>
                      </div>
                    </div>
                    <div class="action">
                      <div class="price">
                        <!-- <span>$299</span> -->
                        <button class="cart-button">
                          <span>Get Appointment</span>
                        </button>
                      </div>
                      <button class="cart-button">
                        <span>Profile</span>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
            </div>
            <div class="col-lg-4">
              <li class="doctor">
                <div class="col-lg-4">
                  <div class="card">
                    <div class="image_container-doctor">
                      <img
                        class="image"
                        src="./assets/img/doctors/d2.png"
                        alt=""
                      />
                    </div>
                    <div class="title">
                      <span class="doctor">a</span>
                    </div>
                    <div class="size">
                      <div class="size">
                        <div class="speciality">
                          <h3>Speciality -</h3>
                          <p>Consultant, Dermatology</p>
                        </div>
                        <div class="degree">
                          <h3>Degree-</h3>
                          <p>
                            MBBS, DDV (SINGAPORE), MSc In Clinical Dermatology
                            (London), MSSVD (London)
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="action">
                      <div class="price">
                        <button class="cart-button">
                          <span>Get Appointment</span>
                        </button>
                      </div>
                      <button class="cart-button">
                        <span>Profile</span>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
            </div>
            <div class="col-lg-4">
              <li class="doctor">
                <div class="col-lg-4">
                  <!-- <article class="position-relative h-100"> -->
                  <div class="card">
                    <div class="image_container-doctor">
                      <img
                        class="image"
                        src="./assets/img/doctors/d3.png"
                        alt=""
                      />
                    </div>
                    <div class="title">
                      <span class="doctor">Dr. mike</span>
                    </div>
                    <div class="size">
                      <div class="speciality">
                        <h3>Speciality -</h3>
                        <p>Consultant, Dermatology</p>
                      </div>
                      <div class="degree">
                        <h3>Degree-</h3>
                        <p>
                          MBBS, DDV (SINGAPORE), MSc In Clinical Dermatology
                          (London), MSSVD (London)
                        </p>
                      </div>
                    </div>
                    <div class="action">
                      <div class="price">
                        <!-- <span>$299</span> -->
                        <button class="cart-button">
                          <span>Get Appointment</span>
                        </button>
                      </div>
                      <button class="cart-button">
                        <span>Profile</span>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
            </div>
            <div class="col-lg-4">
              <li class="doctor">
                <div class="col-lg-4">
                  <!-- <article class="position-relative h-100"> -->
                  <div class="card">
                    <div class="image_container-doctor">
                      <img
                        class="image"
                        src="./assets/img/doctors/d4.png"
                        alt=""
                      />
                    </div>
                    <div class="title">
                      <span class="doctor">Dr. William Osler</span>
                    </div>
                    <div class="size">
                      <div class="speciality">
                        <h3>Speciality -</h3>
                        <p>Consultant, Dermatology</p>
                      </div>
                      <div class="degree">
                        <h3>Degree-</h3>
                        <p>
                          MBBS, DDV (SINGAPORE), MSc In Clinical Dermatology
                          (London), MSSVD (London)
                        </p>
                      </div>
                    </div>
                    <div class="action">
                      <div class="price">
                        <!-- <span>$299</span> -->
                        <button class="cart-button">
                          <span>Get Appointment</span>
                        </button>
                      </div>
                      <button class="cart-button">
                        <span>Profile</span>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
            </div>

            <div class="col-lg-4">
              <li class="doctor">
                <div class="col-lg-4">
                  <!-- <article class="position-relative h-100"> -->
                  <div class="card">
                    <div class="image_container-doctor">
                      <img
                        class="image"
                        src="./assets/img/doctors/d5.png"
                        alt=""
                      />
                    </div>
                    <div class="title">
                      <span class="doctor">Dr. Elizabeth Blackwell</span>
                    </div>
                    <div class="size">
                      <div class="speciality">
                        <h3>Speciality -</h3>
                        <p>Consultant, Dermatology</p>
                      </div>
                      <div class="degree">
                        <h3>Degree-</h3>
                        <p>
                          MBBS, DDV (SINGAPORE), MSc In Clinical Dermatology
                          (London), MSSVD (London)
                        </p>
                      </div>
                    </div>
                    <div class="action">
                      <div class="price">
                        <!-- <span>$299</span> -->
                        <button class="cart-button">
                          <span>Get Appointment</span>
                        </button>
                      </div>
                      <button class="cart-button">
                        <span>Profile</span>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
            </div>

            <div class="col-lg-4">
              <li class="doctor">
                <div class="col-lg-4">
                  <!-- <article class="position-relative h-100"> -->
                  <div class="card">
                    <div class="image_container-doctor">
                      <img
                        class="image"
                        src="./assets/img/doctors/d6.png"
                        alt=""
                      />
                    </div>
                    <div class="title">
                      <span class="doctor">Dr. Paul Farmer</span>
                    </div>
                    <div class="size">
                      <div class="speciality">
                        <h3>Speciality -</h3>
                        <p>Consultant, Dermatology</p>
                      </div>
                      <div class="degree">
                        <h3>Degree-</h3>
                        <p>
                          MBBS, DDV (SINGAPORE), MSc In Clinical Dermatology
                          (London), MSSVD (London)
                        </p>
                      </div>
                    </div>
                    <div class="action">
                      <div class="price">
                        <!-- <span>$299</span> -->
                        <button class="cart-button">
                          <span>Get Appointment</span>
                        </button>
                      </div>
                      <button class="cart-button">
                        <span>Profile</span>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
            </div>

            <div class="col-lg-4">
              <li class="doctor">
                <div class="col-lg-4">
                  <!-- <article class="position-relative h-100"> -->
                  <div class="card">
                    <div class="image_container-doctor">
                      <img
                        class="image"
                        src="./assets/img/doctors/d7.png"
                        alt=""
                      />
                    </div>
                    <div class="title">
                      <span class="doctor">Dr. Patricia Bath </span>
                    </div>
                    <div class="size">
                      <div class="speciality">
                        <h3>Speciality -</h3>
                        <p>Consultant, Dermatology</p>
                      </div>
                      <div class="degree">
                        <h3>Degree-</h3>
                        <p>
                          MBBS, DDV (SINGAPORE), MSc In Clinical Dermatology
                          (London), MSSVD (London)
                        </p>
                      </div>
                    </div>
                    <div class="action">
                      <div class="price">
                        <!-- <span>$299</span> -->
                        <button class="cart-button">
                          <span>Get Appointment</span>
                        </button>
                      </div>
                      <button class="cart-button">
                        <span>Profile</span>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
            </div>

            <div class="col-lg-4">
              <li class="doctor">
                <div class="col-lg-4">
                  <!-- <article class="position-relative h-100"> -->
                  <div class="card">
                    <div class="image_container-doctor">
                      <img
                        class="image"
                        src="./assets/img/doctors/d8.png"
                        alt=""
                      />
                    </div>
                    <div class="title">
                      <span class="doctor">Dr. Gerty Cori </span>
                    </div>
                    <div class="size">
                      <div class="speciality">
                        <h3>Speciality -</h3>
                        <p>Consultant, Dermatology</p>
                      </div>
                      <div class="degree">
                        <h3>Degree-</h3>
                        <p>
                          MBBS, DDV (SINGAPORE), MSc In Clinical Dermatology
                          (London), MSSVD (London)
                        </p>
                      </div>
                    </div>
                    <div class="action">
                      <div class="price">
                        <!-- <span>$299</span> -->
                        <button class="cart-button">
                          <span>Get Appointment</span>
                        </button>
                      </div>
                      <button class="cart-button">
                        <span>Profile</span>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
            </div>

            <div class="col-lg-4">
              <li class="doctor">
                <div class="col-lg-4">
                  <!-- <article class="position-relative h-100"> -->
                  <div class="card">
                    <div class="image_container-doctor">
                      <img
                        class="image"
                        src="./assets/img/doctors/d9.png"
                        alt=""
                      />
                    </div>
                    <div class="title">
                      <span class="doctor">Dr. Jonas Salk</span>
                    </div>
                    <div class="size">
                      <div class="speciality">
                        <h3>Speciality -</h3>
                        <p>Consultant, Dermatology</p>
                      </div>
                      <div class="degree">
                        <h3>Degree-</h3>
                        <p>
                          MBBS, DDV (SINGAPORE), MSc In Clinical Dermatology
                          (London), MSSVD (London)
                        </p>
                      </div>
                    </div>
                    <div class="action">
                      <div class="price">
                        <!-- <span>$299</span> -->
                        <button class="cart-button">
                          <span>Get Appointment</span>
                        </button>
                      </div>
                      <button class="cart-button">
                        <span>Profile</span>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
            </div>

            <div class="col-lg-4">
              <li class="doctor">
                <div class="col-lg-4">
                  <!-- <article class="position-relative h-100"> -->
                  <div class="card">
                    <div class="image_container-doctor">
                      <img
                        class="image"
                        src="./assets/img/doctors/d10.png"
                        alt=""
                      />
                    </div>
                    <div class="title">
                      <span class="doctor">Dr. Virginia Apgar</span>
                    </div>
                    <div class="size">
                      <div class="speciality">
                        <h3>Speciality -</h3>
                        <p>Consultant, Dermatology</p>
                      </div>
                      <div class="degree">
                        <h3>Degree-</h3>
                        <p>
                          MBBS, DDV (SINGAPORE), MSc In Clinical Dermatology
                          (London), MSSVD (London)
                        </p>
                      </div>
                    </div>
                    <div class="action">
                      <div class="price">
                        <!-- <span>$299</span> -->
                        <button class="cart-button">
                          <span>Get Appointment</span>
                        </button>
                      </div>
                      <button class="cart-button">
                        <span>Profile</span>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
            </div>

            <div class="col-lg-4">
              <li class="doctor">
                <div class="col-lg-4">
                  <!-- <article class="position-relative h-100"> -->
                  <div class="card">
                    <div class="image_container-doctor">
                      <img
                        class="image"
                        src="./assets/img/doctors/d11.png"
                        alt=""
                      />
                    </div>
                    <div class="title">
                      <span class="doctor">Dr. jone</span>
                    </div>
                    <div class="size">
                      <div class="speciality">
                        <h3>Speciality -</h3>
                        <p>Consultant, Dermatology</p>
                      </div>
                      <div class="degree">
                        <h3>Degree-</h3>
                        <p>
                          MBBS, DDV (SINGAPORE), MSc In Clinical Dermatology
                          (London), MSSVD (London)
                        </p>
                      </div>
                    </div>
                    <div class="action">
                      <div class="price">
                        <!-- <span>$299</span> -->
                        <button class="cart-button">
                          <span>Get Appointment</span>
                        </button>
                      </div>
                      <button class="cart-button">
                        <span>Profile</span>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
            </div>

            <div class="col-lg-4">
              <li class="doctor">
                <div class="col-lg-4">
                  <!-- <article class="position-relative h-100"> -->
                  <div class="card">
                    <div class="image_container-doctor">
                      <img
                        class="image"
                        src="./assets/img/doctors/d12.png"
                        alt=""
                      />
                    </div>
                    <div class="title">
                      <span class="doctor">Dr. Helen Brooke</span>
                    </div>
                    <div class="size">
                      <div class="speciality">
                        <h3>Speciality -</h3>
                        <p>Consultant, Dermatology</p>
                      </div>
                      <div class="degree">
                        <h3>Degree-</h3>
                        <p>
                          MBBS, DDV (SINGAPORE), MSc In Clinical Dermatology
                          (London), MSSVD (London)
                        </p>
                      </div>
                    </div>
                    <div class="action">
                      <div class="price">
                        <!-- <span>$299</span> -->
                        <button class="cart-button">
                          <span>Get Appointment</span>
                        </button>
                      </div>
                      <button class="cart-button">
                        <span>Profile</span>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
            </div>
          </div>
        </ul>
      </div>

      <!-- Call To Action Section -->
      <section
        id="call-to-action"
        class="call-to-action section light-background"
      >
        <div class="content">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div data-aos="fade-right">
                  <h3>Book an Appointment</h3>
                  <p class="opacity-50">
                    Contact on our care line number to book an appointment.
                  </p>
                </div>
              </div>
              <div class="col-lg-6">
                <div data-aos="fade-left">
                  <h1 style="text-align: center" class="careline">
                    <a style="padding-right: 15px" href="#"
                      ><i class="bi bi-telephone-fill"></i></a
                    >Care Line : +880 13030 15394
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /Call To Action Section -->
    </main>

{% endblock %}