{% extends "lay.html" %}
{% load static %}
{% block content %}

<main class="main">
  <!-- Page Title -->
  <div
    class="page-title dark-background"
    data-aos="fade"
    style="background-image: url(/static/assets/img/doctor_cover.jpg)"
  >
    <div class="container position-relative">
      <h1>Find Doctors</h1>
      <p>
        "Quality is never an accident. It is always the result of intelligent
        effort."
      </p>
      <nav class="breadcrumbs">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li><a href="current">Search Doctor</a></li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- End Page Title -->

  <div class="container-doctor">
    <form method="GET" class = "doctor-form" style = "width:150vh;text-align:center;">
        <input
            id="searchbar"
            type="text"
            name="search"
            placeholder="Search Doctor..."
            value="{{ request.GET.search }}" 
        />
        <button  class="btn btn-primary">Search</button>
    </form>

    {% if search_todo %}
        <div class="container row gy-4 mt-3">
            {% for item in search_todo %}
                <div class="col-lg-4">
                    <div class="card" style="min-height:350px;">
                        <div class="image_container-doctor">
                            <img
                                class="image"
                                src="/static/assets/img/doctors/d2.png"
                                alt=""
                            />
                        </div>
                        <div class="title" style="text-align: center">
                            <span class="doctor">{{ item.name }}</span>
                        </div>
                        <div class="size">
                            <div class="speciality">
                                <h3>Speciality</h3>
                                <span style="padding-left: 5px">-</span>
                                <p>{{ item.speciality }}</p>
                            </div>
                            <div class="degree">
                                <h3>Degree</h3>
                                <span style="padding-left: 10px">-</span>
                                <p>{{ item.degree }}</p>
                            </div>
                        </div>
                        <div class="action">
                            <div class="price">
                                <button class="cart-button">
                                    <span><a href="{% url 'profile' item.id %}">Get Appointment</a></span>
                                </button>
                            </div>
                            <button class="cart-button">
                                <span><a href="{% url 'profile' item.id %}">Profile</a></span>
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No doctors found.</p>
    {% endif %}
</div>



  <!-- Call To Action Section -->
  <section id="call-to-action" class="call-to-action section light-background">
    <div class="content">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div data-aos="fade-right">
              <h3>Book an Appointment</h3>
              <p class="opacity-50">
                Contact on our care line number to book an appointment.
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div data-aos="fade-left">
              <h1 style="text-align: center" class="careline">
                <a style="padding-right: 15px" href="#"
                  ><i class="bi bi-telephone-fill"></i></a
                >Care Line : +880 13030 15394
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Call To Action Section -->
</main>

{% endblock %}


 {% block title %} Find Doctors - LANS unity exchange hospital
 {% endblock %}
