{% extends "lay.html" %}
{% load static %}
{% block content %}
    <main class="main">
      <!-- Page Title -->
      <div
        class="page-title dark-background"
        data-aos="fade"
        style="background-image: url(./assets/img/icu-cover.jpeg)"
      >
        <div class="container position-relative">
          <h1>ICU </h1>
          <p>
            "Quality is never an accident. It is always the result of
            intelligent effort."
          </p>
          <nav class="breadcrumbs">
            <ol>
              <li><a href="index.html">Home</a></li>
              <li><a href="current">Icu</a></li>
            </ol>
          </nav>
        </div>
      </div>
      <!-- End Page Title -->

      <section class="complete-content">
        <div class="icu">
            <p>
                <b>Our Intensive Care Unit (ICU)</b> is a specialized facility dedicated to patients who require intensive monitoring, nursing care and complex respiratory support. The ICU is staffed 24 hours a day by board-certified specialists and seasoned critical care nurses, nurse practitioners and physician assistants, who are committed to providing quality clinical care.
            </p>
            <p>
                This facility leverages advanced technology to ensure patient safety. Patients’ vital signs are transmitted to a central nursing station manned around the clock by our qualified nurses, so the ICU team is able to respond to any changes in time.
            </p>
            <p>
                With a ceiling-mounted service unit to deliver critical power and house medical equipment, the beds in our ICU are no longer tethered to the wall. This allows the beds to be rotated and positioned freely to the most optimum environment. The ICU is also positioned in close proximity to the operating theatres so patients can receive emergency treatment as quickly as possible.
            </p>
        </div>

        <div data-aos="fade-right">
          <div class="emer_image">
            <img src="https://t3.ftcdn.net/jpg/07/33/66/56/360_F_733665662_RuxMlm2diYoWtEAZg5qkpMSMKST5aY20.jpg" alt="image">
          </div>
        </div>
        
      </section>

      <!-- Call To Action Section -->
      <section
        id="call-to-action"
        class="call-to-action section light-background"
      >
        <div class="content">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6">
                
                <div data-aos="fade-right">
                  <h3>Book an Appointment</h3>
                  <p class="opacity-50">
                    Contact on our care line number to book an appointment.
                  </p>
                </div>
              </div>
              <div class="col-lg-6">
                <div data-aos="fade-left">
                  <h1 style="text-align: center" class="careline">
                    <a style="padding-right: 15px" href="#"
                      ><i class="bi bi-telephone-fill"></i></a
                    >Care Line : +880 13030 15394
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /Call To Action Section -->
    </main>

{% endblock %}

{% block title %}
ICU - LANS unity exchange hospital
{% endblock %}