{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>
      {% block title %}
      LANS unity exchange hospital
      {% endblock %}
    </title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="/static/assets/img/favicon.png" rel="icon" />
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Marcellus:wght@400&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->

    <link
    href="{% static './assets/vendor/bootstrap/css/bootstrap.min.css' %}"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link
      href="{% static './assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />

    <link href="{% static './assets/vendor/aos/aos.css' %}" rel="stylesheet" /> 

    <link href="{% static './assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet" />


    
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static './assets/css/main.css' %}">
  </head>

  <body class="index-page">
    <header
      id="header"
      class="header d-flex align-items-center position-relative"
    >
      <div
        class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between"
      >
        <a href="index.html" class="logo d-flex align-items-center">
          <img src="{% static './assets/img/main_logo.png' %}" alt="Hopital Logo" />
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="/app/home">HOME</a></li>
            <li class="dropdown">
              <a href="#"
                ><span></span>DEPARTMENTS<i
                  class="bi bi-chevron-down toggle-dropdown"
                ></i
              ></a>
              <ul>
                <!-- <li><a href="#"></a></li> -->
                <li class="dropdown">
                  <a href="#"
                    ><span>CENTER OF EXCELLENCE</span>
                    <i class="bi bi-chevron-down toggle-dropdown"></i
                  ></a>
                  <ul>
                    <li><a href="/app/brain">Brain & Spine Center</a></li>
                    <li><a href="/app/bone">Bone & Joint Center</a></li>
                    <li><a href="/app/gastro">Gastro Liver Center</a></li>
                    <li><a href="/app/mother">Mother & Child Center</a></li>
                    <li>
                      <a href="/app/nephrologycenter"
                        >Nephrology & Urology <br />
                        Center</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#"
                    ><span>DEPARTMENTS</span>
                    <i class="bi bi-chevron-down toggle-dropdown"></i
                  ></a>
                  <ul>
                    <li><a href="/app/anesthesia">Anesthesia</a></li>
                    <li><a href="/app/urology">Urology & Andrology</a></li>
                    <li><a href="/app/Psychologist">Psychologist</a></li>
                    <li><a href="/app/ophthalmology">Ophthalmology</a></li>
                    <li><a href="/app/nephrology">Nephrology</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="/app/find_doctor">FIND A DOCTOR</a></li>
            <li class="dropdown">
              <a href="#"
                ><span>SERVICES</span>
                <i class="bi bi-chevron-down toggle-dropdown"></i
              ></a>
              <ul>
                <li><a href="/app/blood_bank">Blood bank</a></li>
                <li><a href="/app/ICU">ICU</a></li>
                <li><a href="/app/emergency_service">Emergency Service</a></li>
                <li><a href="/app/dialysis_cantre">Dialysis center</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#"
                ><span>VISITOR & PATIENTS</span>
                <i class="bi bi-chevron-down toggle-dropdown"></i
              ></a>
              <ul>
                <li><a href="/app/feedback">In-Patient Feedback</a></li>
                <li><a href="/app/equipment">Equipment’s</a></li>
                <li><a href="/app/room">Room Rate</a></li>
                <li><a href="/app/about">About us</a></li>
                <li><a href="/app/contact">Contact us</a></li>
              </ul>
            </li>
            <li><a href="/app/media/">MEDIA</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
      </div>
    </header>

    {%block content %}

    {% endblock %}

    <footer id="footer" class="footer dark-background">
      <div class="footer-top">
        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-4 col-md-6 footer-about">
              <a href="index.html" class="logo d-flex align-items-center">
                <span class="sitename">LANS unity exchange hospital</span>
              </a>
              <div class="footer-contact pt-3">
                <p>147/I, Green Road,</p>
                <p>Panthapath, Dhaka</p>
                <p class="mt-3">
                  <strong>Phone:</strong> <span>+880 17685 12668</span>
                </p>
                <p>
                  <strong>Email:</strong> <span>lanshospital@example.com</span>
                </p>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="media.html">Image Gallery</a></li>
                <li><a href="#">Departments</a></li>
                <li><a href="#">Find a doctor</a></li>
                <li><a href="#">visitor & patients</a></li>
              </ul>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li><a href="blood_bank.html">Blood bank</a></li>
                <li><a href="emergency_service.html">Ambolence</a></li>
                <li><a href="ICU.html">ICU</a></li>
                <li><a href="emergency_service.html">Emergency Service</a></li>
                <li><a href="dialysis_cantre.html">Dialysis center</a></li>
              </ul>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
              <h4>Center of excellence</h4>
              <ul>
                <li><a href="brain.html">Brain & Spine Center</a></li>
                <li><a href="bone.html">Bone & Joint Center</a></li>
                <li><a href="gestro.html">Gastro Liver Center</a></li>
                <li><a href="mother.html">Mother & Child Center</a></li>
                <li>
                  <a href="nephrologycenter.html"
                    >Nephrology & Urology Center</a
                  >
                </li>
              </ul>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
              <h4>Department</h4>
              <ul>
                <li><a href="anesthesia.html">Anesthesia</a></li>
                <li><a href="urology.html">Urology & Andrology</a></li>
                <li><a href="Psychologist.html">Psychologist</a></li>
                <li><a href="ophthalmology.html">Ophthalmology</a></li>
                <li><a href="nephrology.html">Nephrology</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="copyright text-center">
        <div
          class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center"
        >
          <div
            class="d-flex flex-column align-items-center align-items-lg-start"
          >
            <div>
              © Copyright <strong><span>Side Character</span></strong
              >. All Rights Reserved
            </div>
            <div class="credits">
              Designed by
              <a href="https://www.facebook.com/profile.php?id=100010274190175"
                >Team Null character</a
              >
            </div>
          </div>

          <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
            <a href="#"><i class="bi bi-twitter-x"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100010274190175"
              ><i class="bi bi-facebook"></i
            ></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scroll Top -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{% static './assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static './assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static './assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

    <!-- Main JS File -->
     <script src="{% static './assets/js/main.js' %} "></script> 
  </body>
</html>
