{% extends "lay.html"%}

{% block content %}
    <main class="main">
      <!-- Page Title -->
      <div
        class="page-title dark-background"
        data-aos="fade"
        style="background-image: url(/static/assets/img/Nephrology1-cover.jpg)"
      >
        <div class="container position-relative">
          <h1>ABOUT OF THE NEPHROLOGY</h1>
          <p>
            "Quality is never an accident. It is always the result of
            intelligent effort."
          </p>
          <nav class="breadcrumbs">
            <ol>
              <li><a href="index.html">Home</a></li>
              <li><a href="current">Nephrology</a></li>
            </ol>
          </nav>
        </div>
      </div>
      <!-- End Page Title -->

      <section class="complete-content-anesthesia">
        <div class="container-top">
            <p>LANS unit exchange hospital has an International Standard and Facilitated Nephrology Department.</p>
            <p>The department is also part of our kidney transplant program in association with Department of Urology. Our kidney transplant program has a 100% success rate with nearly zero infection. We have expert Nephrology Consultant, doctors, nurses and technicians who are highly experienced in patient care, and are treating hundreds of patients with kidney disorders.</p>
            <p>The department is equipped with the most advanced infrastructure to handle all kinds of simple to complex Nepro cases. It is well supported by fully equipped operation theatre (OT), well trained personnel for the pre & post-operative care and physiotherapy and rehabilitation unit.</p>
            <h2>At a glance of our services:</h2>
            <ul>
                <li>Chronic kidney disease</li>
                <li>Critical care nephrology</li>
                <li>Diabetic nephropathy</li>
                <li>Glomerular disease (glomerulonephritis)</li>
                <li>Kidney failure</li>
                <li>Kidney stone diseases</li>
                <li>Pediatric kidney disorders</li>
                <li>Polycystic and inherited kidney diseases</li>
                <li>Renal parenchymal/glomerular disease</li>
            </ul>
            <h2>TRANSPLANT NEPHROLOGY</h2>
            <p>The department of Transplant Nephrology offers leading, world-class care for patients who need kidney or pancreas transplantation:</p>
            <ul>
                <li>Pre-transplant evaluation and pre-transplant care for both kidney and pancreas transplant recipients</li>
                <li>Post-transplant long-term care for both kidney and pancreas transplant recipients</li>
                <li>Pre-transplant evaluation and pre-transplant care for living kidney donors</li>
                <li>Pre-emptive kidney transplant (leading to better long-term prognosis for certain patients)</li>
            </ul>

            <h2>DIALYSIS</h2>
            <p>Comprehensive renal replacement therapy options are available at United Hospital for patients with chronic kidney failure – more than 100 dialysis sessions per day.</p>
            <p>Our Dialysis Unit housed with specialists and skilled nurses provide patients with comprehensive care.</p>
            <ul>
                <li>55 Haemodialysis machines in-house</li>
                <li>24-hour emergency dialysis services</li>
                <li>3 CRRT ( Continuous Renal Replacement Therapy) dialysis machines</li>
                <li>4 SLEDD (Sustained Low-Efficiency Daily Diafiltration) machines – for</li>
                <li>Slow dialysis at slower rate for critically ill patients</li>
                <li>Pre-emptive kidney transplantation evaluation</li>
                <li>Educational programs for dialysis patients and their families</li>
            </ul>
            
        </div>
        <div class="container-buttom">
            <div data-aos="fade-down-right"><img src="/staticassets/img/disease/Nephrology1.jpeg" alt=""></div>
            <div data-aos="fade-down-left"><img src="/static/assets/img/disease/Nephrology2.jpg" alt=""></div>
        </div>
        
      </section>

      <!-- Call To Action Section -->
      <section
        id="call-to-action"
        class="call-to-action section light-background"
      >
        <div class="content">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6">
                
                <div data-aos="fade-right">
                  <h3>Book an Appointment</h3>
                  <p class="opacity-50">
                    Contact on our care line number to book an appointment.
                  </p>
                </div>
              </div>
              <div class="col-lg-6">
                <div data-aos="fade-left">
                  <h1 style="text-align: center" class="careline">
                    <a style="padding-right: 15px" href="#"
                      ><i class="bi bi-telephone-fill"></i></a
                    >Care Line : +880 13030 15394
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /Call To Action Section -->
    </main>
{% endblock %}

{% block title %}
Nephrology - LANS unity exchange hospital
{% endblock %}